:root {
  /* fonts */
  --font-tajawal: Tajawal;
  --font-the-nautigal: "The Nautigal";
  --font-texturina: Texturina;
  --font-cairo: Cairo;

  /* font sizes */
  --font-size-sm: 22px;
  --font-size-base: 24px;
  --font-size-lg: 40px;
  --font-size-xl: 48px;

  /* Colors */
  --color-gray-100: #3c1717;
  --color-gray-200: #3b1717;
  --color-gray-300: #271313;
  --color-tan-100: #f0dba1;
  --color-brown-100: #af2120;
  --color-black: #000;

  /* border radiuses */
  --br-sm: 5px;
  --br-md: 79px;
}
